Repository E3SM-Project/EKAT, pull requests merged in 2020-10, with the labels that each got.

#57 added << operator for packs, plus unit tests.
  src/ekat/ekat_pack.hpp
  tests/pack/pack_tests.cpp
Labels: AT: AUTOMERGE, Packs, code usability, enhancement

#59 Adds a fix so that CMAKE works for CMAKE versions older than 3.12.0
  CMakeLists.txt
Labels: AT: AUTOMERGE, bugfix, cmake

#60 Set default value of EKAT_DEFAULT_BFB to ON/OFF depending on CMAKE_BUILD_TYPE
  CMakeLists.txt
  cmake/EkatUtils.cmake
Labels: AT: AUTOMERGE, cmake, code usability

#61 Removed FindAVX logic, let kokkos handle avx flags
  cmake/EkatSetCompilerFlags.cmake
  cmake/FindAVX.cmake
Labels: AT: AUTOMERGE, cmake, code cleanup

#62 Removed bowman mach file, added mappy
  cmake/machine-files/bowman.cmake
  cmake/machine-files/kokkos/amd-epyc.cmake
  cmake/machine-files/mappy.cmake
Labels: AT: AUTOMERGE, cmake

#63 More granular handling of unit tests compiler defs/flags
  cmake/EkatCreateUnitTest.cmake
  tests/algorithm/CMakeLists.txt
  tests/io/CMakeLists.txt
  tests/io/array_io_tests.f90
  tests/kokkos/CMakeLists.txt
  tests/pack/CMakeLists.txt
Labels: AT: AUTOMERGE, cmake, code quality, code usability

#64 Two hot fixes to EkatCreateUnitTest
  cmake/EkatCreateUnitTest.cmake
Labels: AT: AUTOMERGE, AT: RETEST, bugfix, cmake

#65 Fix deprecated option for kokkos argv list
  src/ekat/util/ekat_catch_main.cpp
Labels: AT: AUTOMERGE, code cleanup, kokkos

#66 Add 3d version of transpose and add tests
  src/ekat/util/ekat_math_utils.hpp
  tests/utils/CMakeLists.txt
  tests/utils/math_util_tests.cpp
Labels: AT: AUTOMERGE, enhancement

#69 add erf
  src/ekat/ekat_pack.hpp
  tests/pack/pack_tests.cpp
Labels: AT: AUTOMERGE, Packs

#70 Fix compilation warnings regarding std::fn on device
  src/ekat/ekat_pack.hpp
  src/ekat/ekat_pack_math.hpp
  src/ekat/kokkos/ekat_kokkos_utils.hpp
  src/ekat/util/ekat_math_utils.hpp
  tests/pack/pack_tests.cpp
Labels: Packs, code cleanup
