Repository E3SM-Project/EKAT, pull requests merged in 2021-05, with the labels that each got.

#108 Add scan_sum feature to Comm class
  src/ekat/mpi/ekat_comm.cpp
  src/ekat/mpi/ekat_comm.hpp
  tests/CMakeLists.txt
  tests/mpi/CMakeLists.txt
  tests/mpi/comm.cpp
Labels: AT: AUTOMERGE, enhancement, mpi

#110 Add yet another volatile overload for Pack's assigment op
  src/ekat/ekat_pack.hpp
Labels: AT: AUTOMERGE, Packs

#113 Add MemoryTraits to template signature of view aliases
  src/ekat/kokkos/ekat_kokkos_types.hpp
Labels: AT: AUTOMERGE, kokkos

#109 add WSM constructor
  src/ekat/ekat_workspace.hpp
  src/ekat/ekat_workspace_impl.hpp
  tests/kokkos/workspace_tests.cpp
Labels: AT: AUTOMERGE, enhancement, utility
