Repository E3SM-Project/EKAT, pull requests merged in 2021-08, with the labels that each got.

#121 Add better support for views of const packs in API
  src/ekat/ekat_pack_kokkos.hpp
  src/ekat/util/ekat_lin_interp.hpp
  src/ekat/util/ekat_lin_interp_impl.hpp
  tests/algorithm/lin_interp_test.cpp
Labels: AT: AUTOMERGE

#122 Improved readme file
  README.md
Labels: documentation

#123 Better handle the OpenMP dependency in ekat
  CMakeLists.txt
  cmake/EkatSetCompilerFlags.cmake
  src/ekat/CMakeLists.txt
Labels: cmake, bugfix, kokkos

#125 Minor fixes to enable_shared_from_this
  src/ekat/std_meta/ekat_std_enable_shared_from_this.hpp
Labels: AT: AUTOMERGE, code cleanup, std_meta

#124 Jgfouca/lin interp imprv
  src/ekat/util/ekat_lin_interp.hpp
  src/ekat/util/ekat_lin_interp_impl.hpp
  tests/algorithm/lin_interp_test.cpp
Labels: AT: AUTOMERGE

#127 Fix lin_interp test on CUDA
  src/ekat/util/ekat_lin_interp.hpp
Labels: bugfix, AT: AUTOMERGE

#126 Add wrappers to common MPI communication calls to Comm class
  src/ekat/mpi/ekat_comm.cpp
  src/ekat/mpi/ekat_comm.hpp
  tests/mpi/comm.cpp
Labels: AT: AUTOMERGE, mpi

#130 EkatCreateUnitTest now uses mpiexec (etc) to run tests with np = 1
  cmake/EkatCreateUnitTest.cmake
  tests/CMakeLists.txt
  tests/mpi/CMakeLists.txt
Labels: cmake, testing, mpi
