Repository E3SM-Project/EKAT, pull requests merged in 2022-08, with the labels that each got.

#235 Adds EKAT_ENABLE_FPE option for enabling floating point exceptions.
  CMakeLists.txt
  cmake/pkg_build/EkatBuildEkat.cmake
  src/ekat/ekat_assert.cpp
  src/ekat/ekat_assert.hpp
  src/ekat/ekat_config.h.in
Labels: build, AT: AUTOMERGE

#236 Allow to retrieve the name of the log file from the logger
  src/ekat/logging/ekat_logger.hpp
  tests/logging/console_only_log_tests.cpp
  tests/logging/serial_file_log_tests.cpp
Labels: enhancement, AT: AUTOMERGE, logging

#237 Fix strlen for HIP. Adjust some EKAT_DEFAULT_BFB behavior.
  CMakeLists.txt
  src/ekat/kokkos/ekat_kokkos_utils.hpp
  tests/algorithm/tridiag_tests_correctness.cpp
Labels: AT: AUTOMERGE

#238 Add a non-templated base class for ekat::Logger, exposing all functionalities
  src/ekat/logging/ekat_logger.hpp
Labels: enhancement, AT: AUTOMERGE, logging

#240 Make Units usabe inside constant expressions
  src/ekat/util/ekat_rational_constant.hpp
  src/ekat/util/ekat_units.hpp
  tests/units/units.cpp
Labels: enhancement, AT: AUTOMERGE

#241 Add utility to join entries of iterable container into a string
  src/ekat/util/ekat_string_utils.hpp
  tests/utils/string_utils_tests.cpp
Labels: AT: AUTOMERGE, utility, Quality Of Life

#243 Prevent SetWarningFlags from overwriting existing CFLAGS/FFLAGS/CXXFLAGS
  cmake/EkatSetCompilerFlags.cmake
Labels: cmake, bugfix, AT: AUTOMERGE

#244 Include ekat's configuration where needed
  CMakeLists.txt
  cmake/pkg_build/EkatBuildEkat.cmake
  scripts/jenkins/jenkins_impl.sh
  src/ekat/ekat_assert.hpp
Labels: AT: AUTOMERGE

#245 Turn SetWarningFlags to a macro (or else has no effect)
  cmake/EkatSetCompilerFlags.cmake
Labels: cmake, bugfix, AT: AUTOMERGE

#248 Refactor a bit how FPE are handled in ekat
  CMakeLists.txt
  cmake/pkg_build/EkatBuildEkat.cmake
  scripts/jenkins/jenkins_impl.sh
  src/ekat/CMakeLists.txt
  src/ekat/ekat_assert.cpp
  src/ekat/ekat_assert.hpp
  src/ekat/ekat_config.h.in
  src/ekat/ekat_session.cpp
  src/ekat/util/ekat_arch.cpp
  src/ekat/util/ekat_test_session.cpp
  tests/utils/CMakeLists.txt
  tests/utils/fpe_check.cpp
Labels: enhancement, AT: AUTOMERGE, code quality, code usability

#249 Make sure the name of the log file is available on all ranks
  src/ekat/logging/ekat_logger.hpp
Labels: AT: AUTOMERGE, logging
