Repository E3SM-Project/EKAT, pull requests merged in 2022-02, with the labels that each got.

#178 Some minor mods to unit-test-related cmake functions
  cmake/EkatCreateUnitTest.cmake
Labels: cmake, AT: AUTOMERGE, code cleanup

#181 Use native compilers, and link against MPI
  CMakeLists.txt
  README.md
  bin/ekat_mpicxx.in
  cmake/EkatMpiUtils.cmake
  cmake/EkatSetCompilerFlags.cmake
  cmake/mpi/EkatSetNvccWrapper.cmake
  cmake/mpi/TryCompileMPICH.cpp
  cmake/mpi/TryCompileOpenMPI.cpp
  src/ekat/CMakeLists.txt
  tests/pack/pack_kokkos_tests.cpp
Labels: cmake, CUDA, AT: AUTOMERGE, code quality, mpi

#189 Add support for dumping parameter lists to YAML file
  src/ekat/CMakeLists.txt
  src/ekat/ekat_parameter_list.cpp
  src/ekat/ekat_parameter_list.hpp
  src/ekat/ekat_parse_yaml_file.cpp
  src/ekat/ekat_parse_yaml_file.hpp
  src/ekat/io/ekat_array_io.cpp
  src/ekat/io/ekat_array_io_mod.f90
  src/ekat/io/ekat_yaml.cpp
  src/ekat/io/ekat_yaml.hpp
  src/ekat/util/ekat_meta_utils.hpp
  tests/io/yaml_parser.cpp
  tests/utils/meta_utils.cpp
Labels: enhancement, AT: AUTOMERGE, yaml

#194 Fix tridiag tests
  cmake/EkatCreateUnitTest.cmake
  cmake/EkatSetCompilerFlags.cmake
  tests/algorithm/CMakeLists.txt
  tests/algorithm/tridiag_tests.cpp
  tests/utils/CMakeLists.txt
Labels: cmake, bugfix, AT: AUTOMERGE, testing

#195 Added nvidia-a100 machine file (from Noel).
  cmake/machine-files/kokkos/nvidia-a100.cmake
Labels: AT: AUTOMERGE, kokkos

#192 Fix the include directories for EKAT's tpls
  cmake/pkg_build/EkatBuildEkat.cmake
  cmake/pkg_build/EkatBuildKokkos.cmake
  cmake/pkg_build/EkatBuildSpdlog.cmake
  cmake/pkg_build/EkatBuildYamlCpp.cmake
  src/ekat/CMakeLists.txt
Labels: cmake, bugfix, AT: AUTOMERGE, Quality Of Life

#198 Add CMAKE_CUDA_ARCHITECTURES in our cuda arch machine files
  cmake/machine-files/kokkos/nvidia-a100.cmake
  cmake/machine-files/kokkos/nvidia-p100.cmake
  cmake/machine-files/kokkos/nvidia-v100.cmake
Labels: cmake, CUDA, AT: AUTOMERGE, Quality Of Life

#197 Refactor how EKAT handles compiler flags
  CMakeLists.txt
  cmake/EkatMpiUtils.cmake
  cmake/EkatSetCompilerFlags.cmake
  cmake/pkg_build/EkatBuildEkat.cmake
  src/ekat/CMakeLists.txt
  tests/utils/debug_tools_tests.cpp
Labels: enhancement, cmake, AT: AUTOMERGE, code quality
