Repository E3SM-Project/EKAT, pull requests merged in 2023-11, with the labels that each got.

#308 Error out if the found kokkos installation is not compatible with the requested options
  cmake/tpls/EkatFindKokkos.cmake
Labels: cmake, AT: AUTOMERGE

#309 Some fixes that allow to build with raw compilers instead of mpi wrap…
  cmake/EkatMpiUtils.cmake
  cmake/tpls/EkatTPLs.cmake
  src/ekat/CMakeLists.txt
  valgrind_support/CMakeLists.txt
Labels: cmake, AT: AUTOMERGE, code cleanup, code usability

#310 [SYCL] Minor cleanup for IntelLLVM cmake
  cmake/EkatSetCompilerFlags.cmake
  cmake/machine-files/jlse-gen9.cmake
Labels: AT: AUTOMERGE, SYCL

#312 Do not use new find_package option with old cmake
  cmake/tpls/EkatFindKokkos.cmake
Labels: cmake, bugfix, AT: AUTOMERGE

#313 Ensure that yaml is always linked using the scoped target name
  cmake/EkatMpiUtils.cmake
  cmake/tpls/EkatBuildYamlCpp.cmake
  cmake/tpls/EkatTPLs.cmake
  src/ekat/CMakeLists.txt
Labels: cmake, bugfix, AT: AUTOMERGE

#314 Add native support for WILL_FAIL in EkatCreateUnitTest
  cmake/EkatCreateUnitTest.cmake
  tests/algorithm/CMakeLists.txt
  tests/utils/CMakeLists.txt
  tests/utils/regress_fail.cpp
Labels: cmake, AT: AUTOMERGE, Quality Of Life
