Repository E3SM-Project/EKAT, pull requests merged in 2023-08, with the labels that each got.

#297 HIP: Omit aggressive vectorization flag
  cmake/machine-files/kokkos/hip.cmake
Labels: cmake, AT: AUTOMERGE

#299 Fix misspelling of some CMake vars in cmake utilities
  cmake/pkg_build/EkatBuildSpdlog.cmake
  cmake/pkg_build/EkatBuildYamlCpp.cmake
Labels: cmake, bugfix, AT: AUTOMERGE

#300 Make YAML parsing an optional feature
  CMakeLists.txt
  src/ekat/CMakeLists.txt
  src/ekat/ekat_config.h.in
  tests/io/CMakeLists.txt
Labels: cmake, AT: AUTOMERGE, code usability, yaml

#301 Add support for tags in YAML parsing
  src/ekat/io/ekat_yaml.cpp
  tests/io/input.yaml
  tests/io/yaml_parser.cpp
Labels: enhancement, AT: AUTOMERGE, yaml

#302 Change tag names used in YAML parser
  src/ekat/io/ekat_yaml.cpp
  tests/io/input.yaml
Labels: AT: AUTOMERGE, code quality, yaml

#303 Fix bug in YAML parser
  src/ekat/io/ekat_yaml.cpp
  tests/io/input.yaml
Labels: bugfix, AT: AUTOMERGE, yaml

#304 In ParameterList::get method, print more info in case of wrong type
  src/ekat/ekat_parameter_list.hpp
  tests/utils/util_tests.cpp
Labels: enhancement, AT: AUTOMERGE, code usability
